:root {
  --red: #e63946;
  --offwhite: #f1faee;
  --lightblue: #a8dadc;
  --blue: #457b9d;
  --darkblue: #1d3557;
  --paragraph-width: 30em;
  --offwhite-contrast: #0e0511;
}

html {
  font-family: Palatino, "Palatino Linotype", Palatino-Roman, Pahoran, "Pahoran ldsLat", "Noto Sans Myanmar", NotoSansMyanmar, SaysetthaldsLao, NotoSerifTamil, serif;
  font-size: 1.125em;
  overflow-x: auto;
  overflow-y: scroll;
}

.grid-container > p:empty {
  padding-top: 0em;
  padding-bottom: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin-top: 2rem;
}

.grid-container > p:nth-last-child(odd) {
  background: var(--offwhite);
}

p, .chapter-lang-container {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  max-width: 28rem;
  overflow: auto;
}

.chapter-lang-container:hover {
  color: var(--red);
  text-decoration: line-through;
  cursor: pointer;
  overflow: hidden;
  
}

#balance {
  padding-left: 0em;
  padding-right: 0em;
}

.book-title {
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  font-size: 1.75em;
  line-height: 1em;
  padding-bottom: .35em;
  padding-top: .15em;
}

.book-subtitle {
  font-size: .88em;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.33em;
  padding-top: .15em;
}

.book-summary {
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.chapter-comprising {
  font-family: Palatino,"Palatino Linotype","Palatino Italic",Palatino-Italic,Pahoran,"Pahoran ldsLat","Noto Sans Myanmar",NotoSansMyanmar,SaysetthaldsLao,NotoSerifTamil,serif;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  padding-top: .90em;
  padding-bottom: 1.25em;
}

.chapter-title {
  text-align: center;
  padding-top: .85em;
  font-size: 1.1em;
  padding-bottom: .5em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.chapter-summary {
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  padding-bottom: 1em;
  padding-top: .15em;
  font-family: Palatino,"Palatino Linotype","Palatino Italic",Palatino-Italic,Pahoran,"Pahoran ldsLat","Noto Sans Myanmar",NotoSansMyanmar,SaysetthaldsLao,NotoSerifTamil,serif;
}

.verse {
  padding-bottom: .65em;
  padding-top: .15em;
}

#new-lang {
  float: right;
  width: 4em;
}

nav {
  position: fixed;
  top: 0rem;
  width: 100%;
  background: white;
  height: 2rem;
  padding-top: .5rem;
  padding-right: 1rem;
  z-index: 1;
}

.chapter-lang-container {
  position: sticky;
  position: -webkit-sticky;
  top: 2rem;
  background: white;
  line-height: 2em;
  font-weight: bold;
}

.chapter-lang {
  padding-left: 0rem;
  text-decoration: inherit;
  float: left;
}

#previous-chapter, #next-chapter {
  position: fixed;
  padding-top: 35vh;
  padding-bottom: 45vh;
  top: 5vh;
  cursor: pointer;
}

#previous-chapter:hover, #next-chapter:hover {
  color: var(--blue);
}

#previous-chapter-button, #next-chapter-button {
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 4em;
}

#previous-chapter {
  float: left;
  padding-left: 0em;
}

#next-chapter {
  float: right;
  padding-right: 0em;
  left: 98%;
}

/* Thank you https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

img {
  float: right;
  width: 30vw;
  height: 15vw;
}

div, p {
  display: inline;
}

.chapter-lang-delete {
  padding-right: 0em;
  float: right;
}

/* Courtesy of https://www.w3schools.com/howto/howto_js_autocomplete.asp
changed to fit my needs*/
* { box-sizing: border-box; }

form {
  display: inline;
  width: 50%;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}

#chapter-input-container {
  border: .15rem solid #DDD;
  display: inline-block;
  border-radius: .5em;
}

#chapter-input {
  border: none;
  padding: 0em;
  height: 1.5em;
  display: inline-block;
  max-width: 88%;
}

#input-button {
  cursor: pointer;
  padding-right: 0em;
  border-left: 0;
}

#input-button:hover {
  color: var(--blue);
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  display: inline-block;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  display: block;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.chapter-range {
  float: right;
}

.float-right {
  float: right;
}

.float-left {
    float: left;
}


/* Thank you https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje
and https://codepen.io/c_vilander/pen/Ajmjwo*/
.loader {
  display: inline;
}

label > span {
  display: inline-block;
  text-transform: uppercase;  
  opacity: 0;
  transform: rotateX(-90deg);
}

.let1 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;

}

.let5 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}
